:root {
    --glow: #003366;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.body {
    background-color: #778899;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 54px;
}

.header div {
    padding-top: 45px;
    margin-right: 0px;
    float: right;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 28px;

}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 0px;
}

a {
    color: #000000;
}


.container {
    display:flex;
    margin-left: 200px;
    width:100%;
    height:100%;
    padding-top:15px;
    padding-bottom: 50px;
}

.aboutme h2, .mywork h2, .contactme h2 {
    font-size: 36px;
    float:left;
    text-decoration: underline;
    color: #2a607c;
}

.aboutme h2 {
    padding-top:75px;
    padding-left: 25px;
}

.mywork h2 {
    padding-top: 150px;
    padding-left: 25px;
}

.aboutme p {
    display:flex;
    justify-content:center;
    margin-left:200px;
    padding-top: 25px;
    border-left: 5px solid #000000;
    padding-left: 25px;
    padding-bottom:25px;
    font-size:24px;
}

.headshot {
    width: 650px;
    height:350px;
    border-radius: 5px;
    border-left: 5px solid #000000;
    padding-left:25px;
}

@media screen and (max-width: 768px) {
    .container {
        margin-left:0px;
    }
    .headhsot {
        padding-left: none;
        border-left: none;
        border-radius: none;
    }
}

.container2 {
    display:flex;
    justify-content: space-evenly;
    margin-left: 200px;
    padding-left: 25px;
    width:75%;
    margin-top: 100px;
    border-left: 5px solid #000000;
}

.container3 {
    display:flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    margin-left:200px;
    width:75%;
    border-left: 5px solid #000000;
    padding-top: 20px;

}

.contactme h2 {
    padding-top:140px;
    padding-bottom: 25px;
    padding-left: 10px;
}

.container4 {
    width:75%;
    height:125%;
    margin-left:200px;
    border-left: 5px solid #000000;
    margin-top:100px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.container4 ul {
    display:flex;
    align-items:stretch;
    justify-content:space-between;
    padding-left:25px;
}

.container4 ul li {
    list-style-type:none;
    display:block;
    flex: 0 1 auto;
    font-size: 24px;
}


.img {
    border-radius: 10px;
    
}

.big {
    width:1200px;
    height:400px;
}

.small {
    width:300px;
    height:200px;
}

.img:hover {
  box-shadow: inset 25px 25px 25px var(--glow), 0 0 25px var(--glow);
}
